<% include ../partials/header.ejs %>
<h1>تعديل مدير</h1>
<form action="/managers/<%= manager._id %>" method="post">
  <label>الاسم:</label><input type="text" name="name" value="<%= manager.name %>"><br>
  <label>الرتبة:</label><input type="number" name="rank" min="1" max="16" value="<%= manager.rank %>"><br>
  <label>القسم:</label><input type="text" name="department" value="<%= manager.department %>"><br>
  <button type="submit">تحديث</button>
</form>
<% include ../partials/footer.ejs %>